image{
    width: "45%";
    height:auto;
    float:right; 
}

header > img:nth-child(1) {
    opacity: 0.6;
  }

 header{
     background-color: #8100cc;
 } 

section{
    width:"45%%";
    float:left;
    background-color: rgba(28,25,56,255);
    color:white;
    padding:5%;
    text-align: center;
    line-height: 3em;  
}

body{
    display: inline-flex;
    flex-direction: row-reverse;
    background-color: rgb(12,12,29);
    margin:5%;
   
}

span{
    color:#ac55de;
}

table{
    width:100%;
    line-height: 1.1em;
}

p{
line-height: 2em;
font-size: 1.2em;
}

h1{
    font-size: 3em;
}

td{
    font-weight: bold;
    font-size: 1.2em;
}
th{
    font-size: 0.8em;
}

